body{
    background-color: rgb(58, 170, 204);
}

.class_div_outside{
    background-color: rgb(43, 144, 226);
    max-width : 700px;
    height: 250px;
}

.class_div_inside{
    position: relative;
    left: 150px;;
}

p{
    background-color: bisque;
    color : black; 
    margin: auto;
    height:30px;
    font-family: "Sofia";
}