body{
    background-image: url("https://www.gettyimages.in/gi-resources/images/500px/983794168.jpg");
    background-repeat: repeat-x;
    /* background-color: rgb(58, 170, 204); */
}

.para_out{
    background-color: bisque;
    color : black; 
}